{{page-title "ForgotPassword"}}
<form {{on 'submit' this.sendResetPassword}}>
    <label for="email">Enter email</label>
    <input id="email" type="text" {{on 'change' this.updateEmail}}>
    <button type="submit">Submit</button>
</form>