{{page-title "RoastDetails"}}
<LinkTo class="self-start" @route="dashboard"><button>Go back</button></LinkTo>
<img class="mb-10 mt-[-26px]" width="500vw" src="{{this.model.img_url}}" alt="">
<div class="mb-20">{{this.model.text}}</div>